@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
$hide: none;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    background-color: green;
    margin: 1em;
    box-shadow: 2px 2px 10px 2px white;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(57, 57, 175, 0.76);
}

#start {
    @include flex-center;

    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0.7;
    }
}

.start-container {
    @include flex-center;
    @include container;


    h1 {
        font-size: 3em;
        text-align: center;
        color: white;
        margin: 0 1em;
    }

    #start-btn {
        width: 60%;
        height: 15%;
        margin: 2em 0 0 0;
        font-size: 1.5em;
        text-transform: uppercase;
        color: green;
        border: 2px solid green;
        transition-duration: .5s;
        cursor: pointer;

        &:hover {
            background-color: rgb(4, 48, 4);
            color: white;
            border: 2px solid white;
            letter-spacing: .2em;
        }

        &:active {
            box-shadow: inset 40px 40px 40px green;
            filter: blur(10px);
        }
    }
}

#quiz,
#score {
    display: $hide;
}

//  media queries// 

@media (min-width: 576px) {
    .start-container {
        width: 45%;

        #start-btn {
            width: 50%;
        }
    }
}

@media (min-width: 768px) {
    .start-container {
        width: 40%;

        h1 {
            font-size: 3.4em;
        }

        #start-btn {
            width: 45%;
            font-size: 1.7em;
        }
    }
}

@media (min-width: 992px) {
    .start-container {
        height: 45%;
        width: 35%;

        h1 {
            font-size: 3.7em;
        }
    }
}

@media (min-width: 1200px) {
    .start-container {
        height: 50%;
        width: 25%;

        h1 {
            font-size: 4em;
        }

        #start-btn {
            width: 45%;
            font-size: 2em;
        }
    }
}

#quiz {
    img {
        width: 100vw;
        height: 100vh;
        object-fit: fill;
    }

    .quiz-container {
        @include flex-center;
        @include container;
        padding: 10px;
    }


}